.ui.secondary.pointing.menu
  a.item(href='/', class=(page === 'home' ? 'active' : ''))
    | Home
  .right.menu
    .item
      .ui.mini.icon.input
        input(type='text' placeholder='Search...')
        i.search.link.icon
    if user
      a.item(href=`/profile/${user._id}`, class=(page === 'profile' ? 'active' : ''))
        | Profile
      a.ui.item(href='/logout')
        | Logout
    else
      a.ui.item(href='/auth', class=(page === 'auth' ? 'active' : ''))
        | Login
