doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/semantic-ui/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/navbar
    .ui.grid.container
      include includes/messages
      block content
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/semantic-ui/semantic.min.js')
    script(src='/javascripts/main.js')
